.btn-colm{
    text-align: center;
}

header{
    background-color: black;
    color: white;
    font-size: 7vh;
    text-align: center;
    padding: 2vh;
    width: 100%;
}

.head-section{
    margin-top: 5vh;
    width: 100%;    
}

.title{
    font-size: 7vh;
}

.btndiv{
    padding: 3.9vh;
}
.btndiv > button{
    background-color: black;
    border: 2px solid black;
}

.btndiv > button:hover{
    color: black;
    background-color: white;
    border-color: black;
    border: 2px solid;
}

.btndiv:hover, .btndiv:active, .btndiv:focus, .btndiv:focus-visible{
    border-color: white;
}

.section-search{
    padding: 0 7.5vw;
    margin: 3vh 0;
}


.section-table{
    padding: 0 5%;
    margin-top: 20px;
    width: 100%
}

.table{
    text-align: center;
    width: 100%;
}

tbody > td{
    width: auto;
}

.agedit{
    width: 100%;
    padding: 0;
}

td > .bi{
    font-size: 3.5vh;
}

td > .bi:hover{
    font-size: 4.5vh;
}

.buttons-table{
    letter-spacing: 3vh;
    /* width: 20%; */
}

.agedit{
    text-align: center;
    border: none;
}

.agedit:hover{
    border: 1px solid black;
    text-decoration: none;
    
}

.modal-header{
    background-color: rgb(17, 17, 17);
    color: white;
}

.cls-mdl{
    font-size: large;
}

.div-btn-form{
    text-align: end;
}

.bt-sub{
    background-color: black;
    border: 2px solid black;
    color: white;
}

.bt-sub:hover{
    color: black;
    background-color: white;
    border-color: black;
    border: 2px solid;
}
