<header>Prueba Tecnica Getechnologies</header>
<section class="head-section">
    <div class="container">
        <div class="row">
            <div class=" col-6 col-md-9">
                <h3 class="title">Lista de empledos</h3>
            </div>
            <div class="col-6 col-md-3 btn btn-add btndiv">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)= "enable()">
                    Nuevo empleado
                </button>
            </div>
        </div>
    </div>
</section>

<section class="section-search col-lg-4" >
    <div class="input-group flex-nowrap">
        <input #searchIn type="text" class="form-control" placeholder="Buscar..." aria-label="searchIn" aria-describedby="addon-wrapping" (keyup)="onSearch(searchIn.value)">
        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
    </div>
</section>

<section class="section-table">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let empleado of empleadosList | paginate:page_size:page_number:search ; let i = index" >
                <td class="colm-id">{{empleado.id}}</td>
                <td>{{empleado.name}}</td>
                <td><input #agedit type="number" name="agedit"  class="agedit" id="agedit"  value="{{empleado.age}}" (keyup.enter)= "updateAge(empleado, agedit.value)" ></td>
                <td class="buttons-table">
                    <i type="button" class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)= "updateForm(empleado)">
                    </i>
                    <i type="button" class="bi bi-trash" (click)= "delete(empleado)"></i>
                    <i type="button" class="bi bi-broadcast" (click)= "changeStatus(empleado)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]= "empleadosList.length"
                [pageSize]= "page_size"
                [pageSizeOptions]= "[5, 10, 25, 100]"
                (page) = "handlePage($event)">
    </mat-paginator>
</section>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carga usuario</h5>
                <i class="bi bi-x cls-mdl" data-bs-dismiss="modal" aria-label="Close" (click)="clear()"></i>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmint()" [formGroup]="empleadoForm">
                    <div class="mb-3">
                        <label for="name">Nombre Completo</label>
                        <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
                        <span class="text-danger" *ngIf="empleadoForm.get('name')?.touched && empleadoForm.get('name')?.hasError('required')">Completar campo requerido</span>
                    </div>
                    <div class="mb-3">
                        <label for="datebirth">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="datebirth" name="datebirth" formControlName="datebirth" required>
                        <span class="text-danger" *ngIf="empleadoForm.get('datebirth')?.touched && empleadoForm.get('datebirth')?.hasError('required')">Completar campo requerido</span>
                    </div>
                    <div class="mb-3">
                        <label for="age">Edad</label>
                        <input type="number" class="form-control" id="age" name="age" formControlName="age" required>
                        <span class="text-danger" *ngIf="empleadoForm.get('age')?.touched && empleadoForm.get('age')?.hasError('required')">Completar campo requerido</span>
                    </div>
                    <div class="mb-3">
                        <label for="position">Cargo</label>
                        <select  class="form-select" name="position" id="position" formControlName="position">
                            <option *ngFor="let cargo of cargos" [value]="cargo.id" >{{cargo.description}}</option>
                        </select>
                        <span class="text-danger" *ngIf="empleadoForm.get('position')?.touched && empleadoForm.get('position')?.hasError('required')">Completar campo requerido</span>
                    </div>
                    <div class="mb-3 div-btn-form">
                       <button type="submit" class="btn btn-lg bt-sub" data-bs-dismiss="modal" [disabled]="empleadoForm.invalid || empleadoForm.disabled">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>