<form (ngSubmit)="onSubmint()" [formGroup]="empleadoForm">
    <div class="mb-3">
        <label for="name">Nombre Completo</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
        <span class="text-danger" *ngIf="empleadoForm.get('name')?.touched && empleadoForm.get('name')?.hasError('required')">Completar campo requerido</span>
    </div>
    <div class="mb-3">
        <label for="datebirth">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="datebirth" name="datebirth" formControlName="datebirth" required>
        <span class="text-danger" *ngIf="empleadoForm.get('datebirth')?.touched && empleadoForm.get('datebirth')?.hasError('required')">Completar campo requerido</span>
    </div>
    <div class="mb-3">
        <label for="age">Edad</label>
        <input type="number" class="form-control" id="age" name="age" formControlName="age" required>
        <span class="text-danger" *ngIf="empleadoForm.get('age')?.touched && empleadoForm.get('age')?.hasError('required')">Completar campo requerido</span>
    </div>
    <div class="mb-3">
        <label for="position">Cargo</label>
        <select  class="form-select" name="position" id="position" formControlName="position">
            <option *ngFor="let cargo of cargos" [value]="cargo.id" >{{cargo.description}}</option>
        </select>
        <span class="text-danger" *ngIf="empleadoForm.get('position')?.touched && empleadoForm.get('position')?.hasError('required')">Completar campo requerido</span>
    </div>
    <div class="mb-3">
       <button type="submit" class="btn btn-lg" [disabled]="empleadoForm.invalid">Registrar</button>
    </div>
</form>